<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Fyzioterapie Vlašim</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <link rel="shortcut icon" href="{asset('images/favicon.ico')}"/>
    <link rel="stylesheet" href="{asset('css/style.css')}?m={filemtime(public_path('css/style.css'))}">
    <link rel="stylesheet" href="{asset('css/namari-color.css')}?m={filemtime(public_path('css/namari-color.css'))}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <link href="{asset('css/animate.css')}?m={filemtime(public_path('css/animate.css'))}" rel="stylesheet" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    {block head}{/block}
</head>
<body>
    {include content}

    <script src="{asset('js/jquery.1.8.3.min.js')}?m={filemtime(public_path('js/jquery.1.8.3.min.js'))}"></script>
    <script src="{asset('js/featherlight.min.js')}?m={filemtime(public_path('js/featherlight.min.js'))}"></script>
    <script src="{asset('js/featherlight.gallery.min.js')}?m={filemtime(public_path('js/featherlight.gallery.min.js'))}"></script>
    <script src="{asset('js/jquery.scrollUp.min.js')}?m={filemtime(public_path('js/jquery.scrollUp.min.js'))}"></script>
    <script src="{asset('js/jquery.easing.min.js')}?m={filemtime(public_path('js/jquery.easing.min.js'))}"></script>
    <script src="{asset('js/jquery.stickyNavbar.min.js')}?m={filemtime(public_path('js/jquery.stickyNavbar.min.js'))}"></script>
    <script src="{asset('js/jquery.waypoints.min.js')}?m={filemtime(public_path('js/jquery.waypoints.min.js'))}"></script>
    <script src="{asset('js/images-loaded.min.js')}?m={filemtime(public_path('js/images-loaded.min.js'))}"></script>
    <script src="{asset('js/lightbox.min.js')}?m={filemtime(public_path('js/lightbox.min.js'))}"></script>
    <script src="{asset('js/site.js')}?m={filemtime(public_path('js/site.js'))}"></script>
    {block bottomscripts}

</body>
</html>
